RAILS_ENV=production
CERTBOT_SMTP_SERVER= < default mail server >
CERTBOT_SMTP_PORT= < default mail server port >
CERTBOT_SMTP_FROM= < default mail server port >
CERTBOT_SMTP_USERNAME= < username to authenticate with default mail server >
CERTBOT_SMTP_PASSWORD= < password to authenticate with default mail server >
CERTBOT_HOST= <our host>
CERTBOT_PORT= <our port>
CERTBOT_PROTOCOL= <https or http>
CERTBOT_PUMA_PROTOCOL= <ssl or tcp>
CERTBOT_PUMA_PATH_TO_KEY= <config/keys/privkey.pem or ''>
CERTBOT_PUMA_PATH_TO_CERT= <config/keys/fullchain.pem or ''>
CERTPRINTSHOP_P_DATABASE=< database name >
CERTPRINTSHOP_P_DATABASE_USERNAME=< database password >
CERTPRINTSHOP_P_DATABASE_PASSWORD=< database password >
CERTPRINTSHOP_D_DATABASE=< database name >
CERTPRINTSHOP_D_DATABASE_USERNAME=< database password >
CERTPRINTSHOP_D_DATABASE_PASSWORD=< database password >

