<html>
  <head><meta charset="utf8"/></head>
  <body>
    <h1>Παραδείγματα αρχείων</h1>
    <p>
    Παραδείγματα αρχείων template μαζί με τις αντίστοιχες λίστες παραληπτών.
    </p>
    <h2>Αρχεία ODT (templates)</h2>
    <p>
    Τα αρχεία ODT περιέχουν τα πεδία προς αντικατάσταση τα οποία πρέπει να είναι :
    <ul>
      <li>εντός αγκύλων,</li>
      <li> χωρίς κενά,</li>
      <li>με χρήση κεφαλαίων λατινικών γραμμάτων και της υπογράμμισης.</li>
    </ul>
    Πχ <code>[FIRST_NAME]</code>
    </p>

    <h2>Αρχεία CSV</h2>
    <p>
    Τα αρχεία CSV είναι:
    <ul>
      <li>με κωδικοποίηση UTF-8,</li>
      <li>διαχωριζόμενα με κόμμα</li>
      <li>και με το σύμβολο " για την οριοθέτηση της συμβολοσειράς.</li>
    </ul>

    </p>
    <p>
    Κάθε αρχείο CSV πρέπει να έχει ως πρώτη γραμμή τους τίτλους των αντίστοιχων πεδίων.
    </p>
    <p>
    Υποχρεωτικά τελευταίο πεδίο του CSV είναι το EMAIL.
    </p>
    Πχ 
    <code>
      FIRST_NAME,LAST_NAME,SCHOOL,TITLE,EMAIL
    </code>
    <p>
    Για την δημιουργία των αρχείων (ODT, CSV) έχει χρησιμοποιηθεί το <a href="https://el.libreoffice.org/" target="_blank">LibreOffice</a>.
    </p>
    <hr/>
  </body>
</html>
